
/* src/components/Home.css - Estilos específicos para a seção Home */

.home-section {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    min-height: calc(100vh - 60px);
  }
  
  .greeting {
    font-size: 2em;
    color: var(--text-light);
    margin-bottom: 10px;
  }
  
  .introduction {
    font-size: 3.5em;
    line-height: 1.2;
    margin-bottom: 20px;
    color: var(--text-light);
  }
  
  .introduction .highlight {
    color: var(--purple-accent);
  }
  .bio-container {
    display: flex; /* Transforma em um container flexível */
    flex-direction: row; /* Coloca os elementos lado a lado */
    gap: 40px; /* Espaço entre a descrição e os logos */
    align-items: flex-start; /* Alinha o início dos elementos na vertical */
    margin-bottom: 50px; /* Espaço entre este container e os botões de ação */
  }
  
  
  .description {
    font-size: 1.1em;
    color: var(--text-gray);
    max-width: 600px;
    margin-bottom: 70px;
    text-align: justify; /* O estilo que você adicionou */
  }

  .tech-logos {
    display: flex;
    flex-wrap: wrap; /* Permite que os logos quebrem a linha */
    gap: 20px; /* Espaço entre cada logo */
    justify-content: flex-end; /* Alinha os logos à direita */
    max-width: 370px; /* Limita a largura do container de logos */
  }
  
  .tech-logos img {
    width: 80px; /* Tamanho dos logos, ajuste se necessário */
    height: 70px;
  }
  
  .tech-logos img:hover {
    filter: grayscale(0%) brightness(100%); /* Colore o logo ao passar o mouse */
  }
  
  /* --- Estilos para os Botões de Ação --- */
  .action-buttons .btn {
    background-color: transparent;
    color: var(--purple-accent);
    border: 2px solid var(--purple-accent);
    padding: 12px 25px;
    margin-right: 15px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none; /* O estilo que você adicionou */
  }
  
  .action-buttons .btn-portfolio {
    background-color: var(--purple-accent);
    color: var(--text-light);
  }
  
  .action-buttons .btn-portfolio:hover {
    background-color: var(--button-hover-darken);
    box-shadow: 0 0 15px rgba(138, 43, 226, 0.5);
  }
  
  .action-buttons .btn-hireme:hover {
    background-color: var(--purple-accent);
    color: var(--text-light);
    box-shadow: 0 0 15px rgba(138, 43, 226, 0.5);
  }